<div class="w3-main" style="margin-left:300px">

  <app-header></app-header>
  <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
    <div class="w3-teal w3-container w3-padding-16 w3-cell-middle w3-left-align">
      <h1>Timeline</h1>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Born: Detroit, MI</h2>
        <p>My parents and sister emmigrated from Macedonia, and I was the first of my family to be born in America.</p>
      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Raised: Hamtramck, MI</h2>
        <p>I attended K-12 in Hamtramck Public Schools. While attending Hamtramck High School,
          I participated in Student Council, National Honor Society, Marching Band, and FIRST Robotics.</p>
      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>College: Houghton, MI</h2>
        <p>I attended Michigan Technological University, and graduated with a Bachelors of Science in Business
          Administration with a concentration in Management Information Systems.</p>
        <p>While attending Michigan Tech, I particpated in the Pep Band, WMTU (the university's campus radio station),
          and
          Mu Beta Psi National Honorary Musical Fraternity.</p>
      </div>
    </div>


    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Current: Southfield, MI</h2>

        <p>
          Currently, I live with my fiance and our cats. We are currently wedding planning for a late summer wedding.
        </p>
        <p>
          When I'm not wedding planning, you can find me working as a precinct co-chair during Sotufheidl's elections,
          volunteering with the Detroit Grand Prix, volunteering with Covenant House Michigan, or volunteering for my
          Fraternity. You can find out more about my experience with those organizations on my resume.
        </p>
      </div>
    </div>
  </div>

</div>
