<div class="w3-main" style="margin-left:300px">

  <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
    <div class="w3-teal w3-container w3-padding-16 w3-cell-middle w3-left-align">
      <h1>Professional Experience</h1>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Launch NTT Data - Remote</h2>
        <h3>April 2021 - Present</h3>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>International Shipping Client</h4>
          <p>
            Digital Engineering Lead Engineer, April 2023 - Present
          </p>
          <ul aria-label="Responsibilities of role at International Shipping Client">
            <li>Converted legacy C++ programs into Java web services using Spring.</li>
            <li>Created new Angular front-end to replace existing JSPs.</li>
            <li>Created new repositories in Azure DevOps for each new service.</li>
            <li>Migrated IBM MQ Queues into Kafka topics for new web services.</li>
            <li>Developed OpenShift Helm Charts for each new service.</li>
            <li>Configure SonarQube quality gates.</li>
            <li>Actively participated in refinement sessions to provide feedback on user stories and acceptance
              criteria.
              Worked closely with product owners and stakeholders to ensure alignment with business objectives.</li>
            <li>Conducted code reviews for new features and bug fixes. Provided constructive feedback to developers to
              improve code quality and maintainability.</li>
            <li>Worked in 2-week sprints as part of a cross-functional Agile team.</li>
          </ul>
        </div>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>Non-Profit Educational Research and Certification Client</h4>
          <p>
            Digital Engineering Lead Engineer, January 2023 - April 2023
          </p>
          <ul aria-label="Responsibilities of role at Non-Profit Educational Research and Certification Client">
            <li>Developed hexagonal webservice framework for local AWS development and testing using Maven, Docker and
              LocalStack.</li>
            <li>Integrated framework with AWS services, including Lamba, Kinesis, DynamoDB, S3, SNS, SQS.</li>
            <li>Actively participated in refinement sessions to provide feedback on user stories and acceptance
              criteria.
              Worked closely with product owners and stakeholders to ensure alignment with business objectives.</li>
            <li>Conducted code reviews for new features and bug fixes. Provided constructive feedback to developers to
              improve code quality and maintainability.</li>
          </ul>
        </div>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>E-Commerce Client - Automotive</h4>
          <p>
            Digital Engineering Lead Engineer, January 2022 - January 2023
          </p>
          <ul aria-label="Responsibilities of role at E-Commerce Client - Automotive">
            <li>Completed a comprehensive training program at Stibo Systems’ MDM Academy to become a subject matter
              expert
              in the new Stibo Systems Enterprise Master Data Management System.</li>
            <li>Documented business rules and developed them in the new system using a combination of UML diagram and
              JavaScript.</li>
            <li>Develop data model for new system by gathering business requirements, identifying tables, mapping
              properties, and reviewing the import to ensure the best results.</li>
            <li>Set up automated imports of industry standard data sets.</li>
            <li>Led requirements gathering and refinement sessions to provide feedback on user stories and acceptance
              criteria.</li>
            <li>Led a cross-functional team of 5 developers and 2 QAs. Conducted code reviews and provided constructive
              feedback to developers to improve code quality and maintainability.</li>
            <li>Represented scrum team in scrum of scrums.</li>
            <li>Collaborated with the client’s project team to roll out an Agile pilot program.</li>
          </ul>
        </div>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>E-Commerce Client - Beauty Products</h4>
          <p>
            Digital Engineering Lead Engineer, April 2021 - January 2022
          </p>
          <ul aria-label="Responsibilities of role at E-Commerce Client - Beauty Products">
            <li>Developed Spring Boot Web application to integrate with NetSuite management software using SOAP.</li>
            <li>Developed and documented coding and testing standards for new application.</li>
            <li>Lead team of 5 developers.</li>
            <li>Conducted code reviews for new features and bug fixes. Provided constructive feedback to developers to
              improve code quality and maintainability.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Benefit Outsourcing Solutions - Commerce Charter Twp, MI</h2>
        <h3>April 2018 - April 2021</h3>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>Third Party Benefits Administration</h4>
          <p>
            Senior Software Developer, April 2018 - April 2021
          </p>
          <ul aria-label="Responsibilities at Benefit Outsourcing Solutions">
            <li>Manage full stack codebase (Angular, Spring-boot, Oracle).</li>
            <li>Migrate codebase to CI/CD pipeline as part of greater organizational effort, including migrating to GIT,
              Jenkins, SonarLint.</li>
            <li>Implement new requirements on tight timelines around Open Enrollment.</li>
            <li>Manage ticket priority for bugs and new features.</li>
            <li>Work with clients and client directors on requirement refinement.</li>
            <li>Develop automated integration tests.</li>
            <li>Participated in Agile pilot program.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Data Consulting Group - Detroit, MI</h2>
        <h3>September 2012 - April 2018</h3>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>Blue Care Network</h4>
          <p>
            Business Readiness Analyst, September 2017 - April 2018
          </p>
          <ul aria-label="Responsibilities of role at City of Flint">
            <li>Oversaw training for and implementation of complex care management system and process.</li>
            <li>Developed training materials for intake staff, including processing of authorization requests.</li>
            <li>Worked with team to develop a training curriculum for Medical Management staff.</li>
            <li>Managed the letter development process and tracked creation of letter sets and provider forms.</li>
            <li>Managed and implemented changes to letters as updated by Center for Medicare and Medicaid Services.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>City of Flint</h4>
          <p>
            Consultant, July 2017 - December 2017
          </p>
          <ul aria-label="Responsibilities of role at City of Flint">
            <li>Coordinated initiatives across high-level stakeholders including community leaders, CEOs, and mayor’s
              staff.</li>
            <li>Tracked project plan updates to initiatives for reporting to bi-weekly stakeholder meetings.</li>
            <li>Facilitated community engagement, including weekly community stakeholder meetings, monthly community
              wide meetings, creation of communications for distribution.</li>
            <li>Analyzed weekly pipe-replacement data for charting and mapping progress.</li>
            <li>Developed financial analysis of funding sources to facilitate priority discussion with lawmakers.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>Blue Care Network</h4>
          <p>
            Business Readiness Project Manager, December 2016 - March 2017
          </p>
          <ul aria-label="Responsibilities of role at Blue Care Network">
            <li>Oversaw testing for a technical upgrade of a complex care management system, including prior
              authorization requests, grievances, and appeals. Managed requirements and implementation of letters
              functionality.</li>
            <li>Developed and executed test schedule, user acceptance tests using use-case diagrams, business
              requirements.</li>
            <li>Managed post-go-live defect resolution, development of ongoing user acceptance tests to resolve
              defects.
            </li>
            <li>Authored and managed letter business requirements through final testing.</li>
            <li>Managed letter development process and managed the creation of letter sets.</li>
            <li>Developed job aids to help users understand process workarounds.</li>
            <li>Developed a custom tool to calculate and analyze all member outreach attempts and outcomes.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>Blue Care Network</h4>
          <p>
            Systems Analyst, September 2016 - November 2016
          </p>
          <ul aria-label="Responsibilities of role at Blue Care Network">
            <li>Worked directly with business and IT leaders performing technical analysis to support a complicated
              enterprise-wide program involving a new joint venture. Project included consolidation of prior
              authorization request systems and claims processing systems.</li>
            <li>Facilitated business area working sessions to develop requirements and use cases.• Reviewed functional
              designs and prototypes with users.</li>
            <li>Reviewed functional designs and prototypes with users. </li>
            <li>Worked with business to gather product benefits, identify and close gaps in information.</li>
            <li>Developed tool to simplify benefit configuration.</li>
            <li>Created formal IT and business process flow (swim-lane) documentation.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>Meridian Health Plan</h4>
          <p>
            Systems Analyst, March 2015 - September 2016
          </p>
          <ul aria-label="Responsibilities of role at Meridian Health Plan">
            <li>Supported implementation of off-the-shelf Medicare Enrollment system in support of rapidly growing
              business area.</li>
            <li>Worked with business leaders and users to gather requirements for upgrade of Medicare Enrolment Module.
            </li>
            <li>Performed in-depth analysis of enrollment workflows.</li>
            <li>Analyzed CMS Medicare Advantage Enrollment rules to develop business and technical requirements and
              ensure new functionality is compliant.</li>
            <li>Analyzed prospective stand-alone software packages to create a gap analysis between features and end
              user needs, along with designing and supporting a system selection.</li>
            <li>Analyzed downstream impacts, integration with various database and reporting systems.</li>
            <li>Created screen mockups using Balsamiq Mockups.</li>
            <li>Developed and executed End-to-End test plans.</li>
            <li>Tracked defects and worked with vendor to develop and test defect resolutions.</li>
            <li>Analyzed and developed stored procedures for complex enrollment processing programs.</li>
            <li>Performed change management directly with the business areas to develop and update solutions as needs
              arose.</li>
            <li>Served as technical communication point to software vendor.</li>
            <li>Coordinated software updates and changes across entire workflow.</li>
            <li>Analyzed latest updates to determine potential impact on end users.</li>
            <li>Participated in Agile pilot program.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>United States Health Information Knowledgebase (USHIK)</h4>
          <p>
            Project Manager / Analyst / Software Developer, September 2012 - September 2017
          </p>
          <ul aria-label="Responsibilities of role at United States Health Information Knowledgebase (USHIK)">
            <li>Supported the development and maintenance of a federal metadata repository.</li>
            <li>Developed using Java EE and both Oracle and MySQL databases. AJAX and JavaScript were employed
              throughout the application. NetBeans was used as the IDE and Bootstrap framework.</li>
            <li>Worked as part of a collaborative Java team using formal development methodology with personal
              accountability for large functional components.</li>
            <li>Developed business and technical requirements for upgrades and new feature requests.</li>
            <li>Worked with multiple stakeholder groups across the country to gather / define requirements for an
              All-Payer Claims Database portal, ensuring Payers nationally have a better understanding of claims
              submission requirements for various states. Reviewed design prototypes with users as part of the
              requirements process.</li>
            <li>Managed a collaborative workspace to facilitate development efficiency.</li>
            <li>Created portal for display of Clinical Decision Support (CDS) Artifacts, including automated page
              generation for human readability, feedback collection. Worked directly with HL7 CDS Developers.</li>
            <li>Participated in IHE Connectathon, working with sophisticated teams to test scenarios for standards
              developers.</li>
            <li>Developed sophisticated tools for data loading and data output from USHIK (through XML, spreadsheets,
              and other formats), developed RESTful web services and applications to manipulate extracted USHIK data.
            </li>
            <li>Contributed to the development of the Quality Measures and Meaningful Use Measures infrastructure.</li>
          </ul>
        </div>

        <div class="w3-gray w3-container w3-padding-16">
          <h4>Blue Cross Blue Shield of Michigan</h4>
          <p>
            Project Manager / Analyst, July 2013 - December 2014
          </p>
          <ul aria-label="Responsibilities of role at Blue Cross Blue Shield of Michigan">
            <li>Oversaw development and upgrades to highly specialized Access-based Risk Adjustment applications.</li>
            <li>Managed a project to update / migrate existing Access databases to new databases, including project
              management, requirements gathering, technical requirement development, test plan creation, and user
              training.</li>
            <li>Performed data analysis to find efficiencies in process.</li>
            <li>Supervised a full-time developer and assisted in development where necessary.</li>
          </ul>
        </div>


      </div>
    </div>


    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Blue Care Network, Southfield, MI</h2>
        <h3>October 2010 - September 2012</h3>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>Interfaces Team</h4>
          <p>
            Interfaces Developer, October 2010 - September 2012
          </p>
          <ul aria-label="Responsibilities of role at Blue Care Network">
            <li>Developed consolidated accumulator system as part of a development team that employed structured
              methodology.</li>
            <li>Implemented transition to Agile Methodology as part of pilot for larger corporate IT initiative.</li>
            <li>Collaborated with QA teams in the execution of system integration, user acceptance testing.</li>
            <li>Assisted in requirements gathering, test case development, and user story development.</li>
            <li>Employed UML and other artifacts in the context of a RUP methodology.</li>
            <li>Coordinated between and collaborated with vendors to ensure proper issue resolution.</li>
            <li>Maintained claims calculation, paying and printing program.</li>
            <li>Stood up RedHat Linux server cluster environments for new Accumulator web-service.</li>
            <li>Participated in Agile pilot program.</li>
          </ul>
        </div>

      </div>
    </div>


    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>PCE Systems, Farmington Hills, MI</h2>
        <h3>Systems Analyst, June 2007 - August 2010</h3>
        <div class="w3-gray w3-container w3-padding-16">
          <h4>CMH Client</h4>
          <p>
            Systems Analyst, June 2007 - August 2010
          </p>
          <ul aria-label="Responsibilities of role at PCE Systems">
            <li>Developed customized EHR systems for community mental health clients, including claims processing,
              database design, form design, print design, process design.</li>
            <li>Gathered business requirements, developed technical requirements, and created test cases for full stack
              implementation of EHR systems.</li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
    <div class="w3-teal w3-container w3-padding-16 w3-cell-middle w3-left-align">
      <h1>Volunteer Experience</h1>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Covenant House Michigan, Detroit, MI</h2>
        <h3>Associate Board Member, 2016 - Present</h3>
        <div class="w3-gray w3-container w3-padding-16">

          <ul aria-label="Responsibilities of role at Covenant House Michigan">
            <li>Founding member of Associate Board.</li>
            <li>Plan annual events to raise awareness, including fundraising dinners and tournaments.</li>
            <li>Volunteer with residents during quarterly activities.</li>
            <li>Raise at least $1000 annually by participating in Sleep Out.</li>
            <li>Plan social activities for Associate Board Members.</li>
            <li>As Recruitment Committee Chair, attend networking events and track potential new members through
              recruitment process.</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Detroit Grand Prix Association - Hospitality Shuttle Services / Accessibility Ambassadors</h2>
        <h3>Supervisor, June 2023 - Present</h3>
        <div class="w3-gray w3-container w3-padding-16">

          <ul aria-label="Responsibilities of role at Detroit Grand Prix Association">
            <li>Develop training plan and materials for volunteers.</li>
            <li>Coordinate and supervise volunteers during three days of Chevrolet Detroit Grand Prix.</li>
            <li>Work with other volunteer teams to handle and transport VIPs, including media and winning racecar
              drivers, and guests with accessibility needs.</li>
            <li>Analyst venue prior to event to look for and plan around any potential accessibility issues and needs.
            </li>
            <li>Triage accessibility needs and issues as needed during event.</li>
            <li>Participate in post-race retrospective.</li>
            <li>Evaluate volunteers.</li>
            <li>Participate and attend management and leadership seminars throughout the year to continually improve
              organization.</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>City Of Southfield</h2>
        <h3>Precinct Co-Chair, Election Inspector, August 2020 - Present</h3>
        <div class="w3-gray w3-container w3-padding-16">

          <ul aria-label="Responsibilities of role at City Of Southfield">
            <li>Set up precinct for election, including flow of traffic from application to vote to electronic poll
              book, and finally tabulator.</li>
            <li>Resolve voter issues, including outstanding absentee ballots, unregistered voters, voters at wrong
              precincts.</li>
            <li>Interact with Challengers and Poll Watchers.</li>
            <li>Close down precinct at end of night, including gathering results, closing down tabulators, packing up
              supplies, and transporting result tapes and sealed ballot containers to city clerk’s office for auditing.
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
      <div class="w3-dark-grey w3-container w3-padding-16 w3-cell-middle w3-left-align">
        <h2>Wayne County Healthy Communities Medical Clinic</h2>
        <h3>Board Member, May 2015 - April 2018</h3>
        <div class="w3-gray w3-container w3-padding-16">

          <ul aria-label="Responsibilities of role at Wayne County Healthy Communities Medical Clinic">
            <li>Review monthly quality and financial reports.</li>
            <li>Review and approve new and updated policies and procedures.</li>
            <li>Review credentials of newly hired staff.</li>
            <li>Analyze performance metrics for potential opportunities for improvement.</li>
            <li>Identify potential community partners.</li>
          </ul>
        </div>

      </div>
    </div>


  </div>
</div>