<div class="w3-main" style="margin-left:300px">

  <app-header></app-header>
  <div class="w3-row-padding w3-center w3-padding-24" style="margin:1 -16px">
    <div class="w3-teal w3-container w3-padding-16 w3-cell-middle w3-left-align">
      <h1>Summary</h1>
    </div>
  </div>
  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <p>Innovative Java Developer with a rich background in backend development, front-end Angular applications, and
      comprehensive database management with SQL and NoSQL systems. My expertise in DevOps streamlines the deployment of
      web services to CI/CD pipelines, promoting operational excellence. With significant experience in Agile
      environments, I adeptly lead cross-functional teams to deliver high-quality software solutions efficiently and
      effectively.
    </p>
    <p>
      My 10+ years of Health IT Experience includes:</p>
    <ul aria-label="Health IT Experience">
      <li>Medicare Advantage</li>
      <li>Utilization Management</li>
      <li>Development of EHR / EMR Systems</li>
      <li>Payer Systems including RAPS Submissions, deductible / copay calculation</li>
      <li>Meaningful Use</li>
      <li>All Payer Claims Databases</li>
      <li>Structured Data Capture</li>
      <li>Clinical Decision Support Knowledge Artifacts</li>
    </ul>
    <hr>


    <h2>Skills</h2>
    <!-- Skills Tables -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third w3-margin-bottom">

        <h3 class="w3-dark-grey w3-xlarge w3-padding-32 w3-center">Software</h3>
        <ul class="w3-ul w3-border w3-white w3-center" aria-label="Software Skills List">
          <li class="w3-padding-16">Microsoft Business tools including:<br />SharePoint, Project, Visio, and Teams</li>
          <li class="w3-padding-16">Atlassian products including:<br />Jira, Confluence, Bitbucket, and Trello</li>
          <li class="w3-padding-16">Azure DevOps tools including:<br />Pipelines, Boards, and Repositories</li>
          <li class="w3-padding-16">Amazon Web Services including:<br />Lambda, S3, DynamoDB, SNS, SQS</li>
          <li class="w3-padding-16">Multiple IDEs including:<br />IntelliJ Community Edition, NetBeans, and Visual
            Studio Code
          </li>
        </ul>
      </div>

      <div class="w3-third w3-margin-bottom">

        <h3 class="w3-dark-grey w3-xlarge w3-padding-32 w3-center">Languages and
          Frameworks</h3>
        <ul class="w3-ul w3-border w3-white w3-center" aria-label="Languages and Frameworks List">
          <li class="w3-padding-16">Java 8, 11, 17, 21</li>
          <li class="w3-padding-16">Spring 5 and 6, Spring Boot 2.5, 3.0, 3.2</li>
          <li class="w3-padding-16">JavaScript Frameworks and Libraries including:<br />Bootstrap, jQuery, AngularJS,
            React, and Vue.js</li>
          <li class="w3-padding-16">SQL including Oracle, MSSQL, and MySQL</li>
          <li class="w3-padding-16">No-SQL including MongoDB and Couchbase</li>
          <li class="w3-padding-16">API technologies including RESTful, SOAP, GraphQL, and OpenAPI</li>
          <li class="w3-padding-16">Code Quality tools such as PMD, SonarLint, and SpotBugs</li>
          <li class="w3-padding-16">Build automation including Gradle and Maven</li>
          <li class="w3-padding-16">JFrog Artifactory</li>
          <li class="w3-padding-16">Testing tools and frameworks including:<br />Postman, SoapUI, JUnit, Mockito,
            TestMe,
            SquareTest</li>
          <li class="w3-padding-16">.NET</li>
        </ul>
      </div>

      <div class="w3-third">
        <h3 class="w3-dark-grey w3-xlarge w3-padding-32 w3-center">Soft Skills</h3>
        <ul class="w3-ul w3-border w3-white w3-center" aria-label="Soft Skills List">
          <li class="w3-padding-16">Agile Methodologies</li>
          <li class="w3-padding-16">Time Management</li>
          <li class="w3-padding-16">Communication</li>
          <li class="w3-padding-16">Leadership</li>
          <li class="w3-padding-16">Problem-solving</li>
          <li class="w3-padding-16">Teamwork / Collaberation</li>
          <li class="w3-padding-16">Patience</li>
        </ul>
      </div>
    </div>
  </div>
